<footer class='bg-yellow-400 py-0 px-5 mx-auto'>
  <div class='text-center pt-12 pb-2'>
    <div class='border-t border-gray-600 mx-12 pt-4'>
      <p><small>&copy;2024 TKG診断</small></p>
    </div>
  </div>
</footer>